@font-family: 'Architects Daughter', cursive;
h3{
    font-family:Architects Daughter;
    margin:0;
    font-size:1.6em;
    display:inline;
    margin-right:10px;
}
#mapmenu {
    margin-left:5px;
}
#mapmenu ul{
    margin-top: -5px;
}
#mapmenu li {
    margin-right:-5px;
}
#mapmenu li.pure-menu-selected{
    background:#eee;
}